
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color:black;
}

label {
  margin-top: 1rem;
  font-size:1.2rem;

}



.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin:0.5rem 0 0.5rem 0.25rem;
}

.invalid {
    color: red;
    margin:0.5rem 0 0.5rem 0.25rem;
}

.errmsg {
    color:#b71722;
    font-weight: bold;
    margin: 1rem 0;
}

.line {
    display: inline-block;
}


@media screen and (max-width: 580px) { 
    input[type="text"],
    input[type="password"],
    textarea {
      font-size: 15px;
     
    }
}